<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ajax upload progress</title>
  </head>
  <body>
    <form class="">
      <input type="file" id="photo" name="photo" value="" onchange="previewPhoto()">
      <input type="button" onclick="uploadPhoto()" value="上传"/>
    </form>
    <div class="">
      <h2 id="info">上传进度</h2>
      <progress value="0" max="100"></progress>
      <span id="percentage">0%</span>
    </div>
    <img src="" alt="预览图片" />
    <script type="text/javascript">
      function previewPhoto() {
        var preview = document.querySelector('img');
        var photo = document.querySelector('input[type=file]').files[0];
        var reader = new FileReader();

        reader.onloadend = function() {
          preview.src = reader.result;
        }

        if(photo) {
          reader.readAsDataURL(photo);
        } else {
          preview.src = '';
        }
      }

      function uploadPhoto() {
        var photo = document.getElementById("photo").files[0];
        if(!photo) return;

        var upload_url = '/upload';

        var form = new FormData();
        form.append('photo', photo);

        var xhr = new XMLHttpRequest();
        xhr.open('post', upload_url, true);
        xhr.onload = function() {
          var result = eval( '(' + xhr.responseText + ')' );
          if(result.code == 0) {
            document.getElementById('info').innerHTML = '上传完成，开始处理数据...';
          } else {
            alert(result);
          }
        }
        xhr.upload.addEventListener('progress', uploadProgress, false);
        xhr.send(form);
      }

      function uploadProgress(e) {
        var progress_bar = document.querySelector('progress');
        var percentage_num = document.getElementById('percentage');
        if(e.lengthComputable) {
          progress_bar.max = e.total;
          progress_bar.value = e.loaded;
          percentage_num.innerHTML = Math.round( e.loaded / e.total * 100 ) + '%';
        }
      }
    </script>
  </body>
</html>
